.cloth
  %p XXS以下
  %p XS(SS)
  %p S
  %p M
  %p L
  %p XL(LL)
  %p 2XL(3L)
  %p 3XL(4L)
  %p 3XL(4L)
  %p 4XL(5L)
  %p FREE SIZE
.mens-shoes
  %p 23.5cm以下
  %p 24cm
  %p 24.5cm
  %p 25cm
  %p 25.5cm
  %p 26cm
  %p 26.5cm
  %p 27cm
  %p 27.5cm
  %p 28cm
  %p 28.5cm
  %p 29cm
  %p 29.5cm
  %p 30cm
  %p 30.5cm
  %p 31cm以上
.ladies-shoes
  %p 20cm以下
  %p 20.5cm
  %p 21cm
  %p 21.5cm
  %p 22cm
  %p 22.5cm
  %p 23cm
  %p 23.5cm
  %p 24cm
  %p 24.5cm
  %p 25cm
  %p 25.5cm
  %p 26cm
  %p 26.5cm
  %p 27cm
  %p 27.5cm以上
.kids-shoes
  %p 10.5cm以下
  %p 11cm・11.5cm
  %p 12cm・12.5cm
  %p 13cm・13.5cm
  %p 14cm・14.5cm
  %p 15cm・15.5cm
  %p 16cm・16.5cm
  %p 17cm以上
.kids-cloth-small
  %p 60cm
  %p 70cm
  %p 80cm
  %p 90cm
  %p 95cm
.kids-cloth
  %p 100cm
  %p 110cm
  %p 120cm
  %p 130cm
  %p 140cm
  %p 150cm
  %p 160cm
.tv
  %p 〜20インチ
  %p 20～26インチ
  %p 26～32インチ
  %p 32～37インチ
  %p 37～40インチ
  %p 40～42インチ
  %p 42～46インチ
  %p 46～52インチ
  %p 52～60インチ
  %p 60インチ～
.bike
  %p 50cc以下
  %p 51cc-125cc
  %p 126cc-250cc
  %p 251cc-400cc
  %p 401cc-750cc
  %p 751cc以上
.tire
  %p 12インチ
  %p 13インチ
  %p 14インチ
  %p 15インチ
  %p 16インチ
  %p 17インチ
  %p 18インチ
  %p 19インチ
  %p 20インチ
  %p 21インチ
  %p 22インチ
  %p 23インチ
  %p 24インチ
